@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Roboto:ital,wght@1,500&family=Ubuntu:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    width: 100vw;
}

.logo {
    width: 20%;
    /* border:2px solid red; */
}

.logo h1 {
    font-size: 2.2rem;
    margin: 1rem;
    margin-left: 1rem;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style-type: none;
    margin: 2rem;
    justify-content: right;
}

.buttons {
    margin: 1.4rem;
}

.buttons a {
    font-size: 2rem;
    padding: 1rem;
}

/* .btn{
    margin:1.4rem;
}
.btn button{
    padding:5px;
    border:3px solid blue;
    border-radius:5px;
    width:5rem;
    height:2rem;
}
button:hover{
    background-color:black;
    color:yellow;
} */
.navbar ul li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;

}

.navbar ul li a:hover {
    color: blue;
    background-color: bisque;
    border-radius: 3px;
    font-size: 2rem;
    text-decoration: underline;
}

.github:hover {
    color: #24292e;
    font-size: 2.5rem;
}

.linkedin:hover {
    color: #0077b5;
    font-size: 2.5rem;
}

/* .buttons{
    margin:1.14rem;
}
.buttons a{
    padding:1rem;
    font-size:2rem;
} */