.container{
    border:2px solid black;
    display:grid;
    grid-template-columns:120px 100px; 
    grid-template-rows:100px 100px 100px;
    grid-template-areas:"nav nav nav" "side article article";
/* automatically things */
    /* rows-height column-width */
}
.items{
    border:2px solid red;
    width:55px;
    height:55px;
}